In [1]:
import pandas as pd
import numpy as np

In [2]:
cases = {
    "ind" : [20,34,44,10,45,26,67],
    "usa" : [33,43,65,12,56,89,20],
    "ita" : [43,44,67,23,6,89,243]
}

In [3]:
pd.Series(cases)

ind    [20, 34, 44, 10, 45, 26, 67]
usa    [33, 43, 65, 12, 56, 89, 20]
ita    [43, 44, 67, 23, 6, 89, 243]
dtype: object

In [4]:
pd.Series(cases['ind'])

0    20
1    34
2    44
3    10
4    45
5    26
6    67
dtype: int64

In [5]:
pd.DataFrame(cases)

   ind  usa  ita
0   20   33   43
1   34   43   44
2   44   65   67
3   10   12   23
4   45   56    6
5   26   89   89
6   67   20  243

In [6]:
df = pd.DataFrame(cases)

In [8]:
df.columns

Index(['ind', 'usa', 'ita'], dtype='object')

In [11]:
# will print first 5 observations by default
df.head(3)

   ind  usa  ita
0   20   33   43
1   34   43   44
2   44   65   67

In [12]:
# last 5 observations by default
df.tail(2)

   ind  usa  ita
5   26   89   89
6   67   20  243

In [14]:
# loc - location -> index
df.loc[0]

ind    20
usa    33
ita    43
Name: 0, dtype: int64

In [15]:
df.iloc[0,0]

20

In [16]:
df.iloc[0:3,0:2]

   ind  usa
0   20   33
1   34   43
2   44   65